/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

.body {
  background-color: rgba(216, 216, 218, 0.99);
}

.main-page {
  display: grid;
  position: relative;
  background-color: white;
  width: calc(100% * 2.7/3);
  min-width: 396px;
  margin: 0 auto;
  padding: 2% 3%;
  box-shadow: -1px 0 3px rgba(0, 0, 0, 0.3), 1px 0 3px rgba(0, 0, 0, 0.3);
  grid-template-areas:
    "header"
    "navigation"
    "filters"
    "item"
    "statistic"
    "favorites"
    "text"
    "footer";
}

.head {
  grid-template-areas: "header";
  justify-content: space-around;
  align-items: flex-end;
}

.navigation {
  grid-template-areas: "navigation";
  margin-top: 3%;
}

.first {
  display: flex;
  justify-content: space-between;
}

hr {
  margin: 3% 23%;
  border-color: black;
}

.filter {
  grid-template-areas: "filters";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 8px;
  width: 85%;
}

.topics {
  font-family: Calibri, serif, Times;
  font-weight: bold;
  font-size: 35px;
  color: black;
  margin-bottom: 3%;
}

select {
  font-size: inherit;
  width: 58px;
}

.filter-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.filter-section label {
  margin-right: 7%;
  font: normal 10px Calibri;
  opacity: 60%;
}

.filter-section label:hover {
  color: black;
  opacity: 100%;
}

.filter-divider {
  width: 1px;
  height: 120%;
  background-image: linear-gradient(to bottom, #000 50%, transparent 50%);
  background-size: 100% 4px;
  background-repeat: repeat-y;
  margin: 0 10px;
  border: none;
  opacity: 60%;
}

.label-head {
  font: bold 45px "Times New Roman", serif, Times;
  color: rgba(238, 235, 225, 0.99);
  text-shadow:
    -1.2px -1px 0 #f76f5f,
    1.2px 1px 0 black;
}

.label-head:hover {
  color: rgba(199, 199, 192, 0.99);
  text-shadow:
    -2px -1.2px 0 #f76f5f,
    2px 1.2px 0 black;
}

.for-search {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 8px;
  width: 90%;
  height: 40px;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

li {
  margin-right: 15%;
}

.but-add {
  padding: 5px 20px;
}

.inp-for-search {
  font-family: "Times New Roman", Times, serif;
  font-size: 95%;
  line-height: 25px;
  border: 1px solid #ccc;
}

.inp-for-search:focus,
.inp-for-search:hover {
  border: 1px solid #ccc;
  width: 60%;
}

.but button,
.but li {
  background-color: white;
  border: 1px solid #f76f5f;
  font-family: Calibri, serif, Times;
  font-weight: bold;
  color: #f76f5f;
}

.but-add,
li,
.foot button {
  font-size: 17px;
}

.but-search {
  padding: 5px 20px;
  margin-left: 3%;
}

.but-search:hover,
.but-add:hover {
  color: white;
  background-color: #f76f5f;
}

.but-choose li {
  border: none;
}

.but-choose li:hover {
  color: rgba(169, 69, 42, 0.99);
}

input::placeholder {
  font-family: "Times New Roman", Times, serif;
  font-size: 95%;
  color: #999;
}

.teachers-list {
  position: relative;
  grid-template-areas: "item";
  display: grid;
  padding: 3% 0;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  align-items: center;
}

.teacher-item {
  display: flex;
  padding: 10% 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Calibri, serif, Times;
}

.favor-teach {
  position: relative;
}

.star {
  position: absolute;
  width: 25%;
  height: auto;
  z-index: 50;
  bottom: 81%;
  right: 10%;
}

.name {
  font-size: 14px;
  font-weight: bold;
  padding: 1%;
}

.speciality {
  font-size: 10px;
  opacity: 50%;
  padding: 1%;
}

.country {
  font-size: 8px;
  padding: 1%;
}

.image-teach {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #f76f5f;
  border-radius: 50%;
  width: 90%;
  height: auto;
  aspect-ratio: 1/1;
  transition: transform 0.4s ease;
  overflow: hidden;
}

.image-teach:hover {
  border-color: rgba(179, 71, 49, 0.99);
  color: rgba(179, 71, 49, 0.99);
}

.without-img {
  font-family: Calibri, serif, Times;
  font-weight: bold;
  font-size: 35px;
  color: #f76f5f;
}

.teacher-item .image-teach img {
  width: 100%;
  height: auto;
}

.teacher-item img:hover,
.teacher-item label:hover {
  transform: scale(1.1);
}

.statistic {
  grid-template-areas: "statistic";
}

table {
  width: 100%;
  font-family: Calibri, serif, Times;
}

thead {
  border-bottom: 1px solid black;
}

.left-name {
  text-align: left;
  padding-left: 1%;
}

th {
  vertical-align: middle;
  padding-bottom: 7px;
  position: relative;
}

.stats-pointer {
  position: absolute;
  width: 12px;
  height: 19px;
  margin-left: 4px;
  visibility: hidden;
}

.toTop {
  transform: rotate(180deg);
}

th:hover {
  border-bottom: 2px solid black;
  background-color: rgba(242, 242, 242, 0.99);
}

th:hover .stats-pointer {
  visibility: visible;
}

td {
  padding: 5px 0;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: rgba(237, 232, 238, 0.99);
}

.left-word {
  padding-left: 3%;
}

.stats {
  display: block;
  text-align: left;
  padding: 2% 0;
}

.but-stats {
  background-color: white;
  border: none;
  color: rgba(24, 164, 190, 0.99);
}

.but-stats:hover {
  color: rgba(23, 120, 144, 0.99);
}

.but-stats-current,
.others {
  background-color: white;
  border: none;
}

.others {
  font-weight: bold;
}

.favorites {
  grid-template-areas: "favorites";
  overflow: hidden;
}

.fav-teachs {
  /* grid-template-areas: "item"; */

  /* position: relative; */
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.slides-track {
  width: 100%;
  overflow: hidden;
}

.slide {
  min-width: calc(100%/5);
  align-items: center;
  font-family: "Avignon Pro Medium", Arial, serif;
  position: relative;
  padding: 0 0;
}

.slides {
  display: flex;
  width: 100%;
  transition: transform 0.4s ease;
}

.points {
  width: 19px;
  height: 50px;
}

.left {
  position: absolute;
  transform: rotate(180deg);
  background-image: url("/src/images/right.png");
  background-size: cover;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  left: 1%;
  bottom: 8%;
}

.left:hover {
  background-image: url("/src/images/blackright.png");
  width: 28px;
  height: 55px;
  left: 1%;
  bottom: 8%;
}

.right {
  position: absolute;
  background-image: url("/src/images/right.png");
  background-size: cover;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  right: 1%;
  bottom: 8.1%;
}

.right:hover {
  background-image: url("/src/images/blackright.png");
  width: 28px;
  height: 55px;
  right: 1%;
  bottom: 8%;
}

.text {
  grid-template-areas: "text";
  text-align: left;
  font-family: Calibri, serif, Times;
  font-size: 13px;
}

.foot {
  grid-template-areas: "footer";
  margin: 3% 0;
}

.foot li {
  font-weight: normal;
}

@media (max-width: 620px) {
  .image-teach {
    width: 70%;
  }

  .name {
    font-size: 10px;
  }

  .without-img {
    font-size: 18px;
  }

  .speciality {
    font-size: 8px;
  }

  .country {
    font-size: 6px;
  }

  .head {
    flex-direction: column;
    align-items: flex-start;
  }

  .for-search {
    margin-left: 10%;
  }

  .for-search input {
    line-height: 0;
  }

  input::placeholder {
    font-size: 70%;
  }

  .but-search {
    padding: 2px 8px;
    font-size: 12px;
  }

  .but-add,
  li,
  .foot button {
    font-size: 12px;
  }

  .but-add {
    padding: 5px 8px;
  }

  .topics {
    font-size: 20px;
  }

  .filter {
    width: 100%;
  }

  .filter-divider {
    margin: 0 3px;
    height: 90%;
  }

  .filter-section label {
    font-size: 8px;
  }

  .statistic,
  .stats button,
  p {
    font-size: 8px;
  }

  .label-head {
    font-size: 35px;
  }

  .stats-pointer {
    width: 7px;
    height: 14px;
    margin-left: 2px;
  }
}

.piechart-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#piechart {
  max-width: 80%;
  max-height: 600px;
}

@media (max-width: 450px) {
  .main-page {
    width: calc(100% * 2.85/3);
  }
}

@media (max-width: 400px) {
  .body {
    overflow: scroll;
  }
}

.popup {
  display: none;
  font-family: Calibri, serif, Times;
  font-size: 10px;
  box-shadow: -1px 0 3px rgba(0, 0, 0, 0.3), 1px 0 3px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 150;
  transform: translate(-50%, -50%);
  width: calc(45%*2/3);
  height: auto;
  background-color: white;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Чорний колір і прозорість 50% */
  z-index: 149; /* Розміщення під попапом, але поверх інших елементів */
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #585a58;
  padding: 3% 5%;
}

form > * {
  margin: 3px 0;
}

.inline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  text-align: left;
  grid-column-gap: 4%;
}

.inline select,
.inline input {
  width: 100%;
}

.inline section {
  display: flex;
  flex-direction: column;
}

.gender {
  width: 55%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gender div label {
  vertical-align: middle;
}

.gender div input[type="radio"] {
  width: 10px;
  vertical-align: middle;
  margin-left: 2px;
  margin-bottom: 2px;
}

.header {
  color: white;
  width: 100%;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(70, 70, 72, 0.99);
}

.header button {
  width: 16px;
  padding-left: 4px;
  margin-right: 2%;
  color: white;
  background-color: rgba(70, 70, 72, 0.99);
  border: none;
}

.header button:hover {
  background-color: red;
  border-radius: 20%;
}

.header span {
  font-size: 15px;
  margin-left: 3%;
}

#us_name,
#comment,
.inline {
  width: 100%;
}

#email_us {
  width: 100%;
  margin-right: 3%;
}

#spec {
  width: 100%;
}

.but-add-info {
  width: 100%;
  background-color: white;
  border: 1px solid #f76f5f;
  font-family: Calibri, serif, Times;
  font-weight: bold;
  color: #f76f5f;
}

.win-inputs {
  font-size: 8px;
  height: 14px;
}

#spec,
#countr {
  height: 15px;
}

.but-add-info:hover {
  color: white;
  background-color: #f76f5f;
}

.for-color {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.inp-date {
  width: 52%;
}

.inp-color {
  width: 20%;
  margin-right: 10%;
  padding: 0;
}

.pop-inf {
  width: calc(80%*2/3);
}

.image-info {
  float: left;
}

.text-info {
  font-size: 8px;
  clear: both;
  padding-top: 7px;
}

.name-info {
  font-size: 20px;
  padding: 1%;
}

.main-info {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.star-empty img {
  max-width: 20px;
  height: auto;
}

.empty {
  position: absolute;
  right: 3%;
  top: 16%;
}

.main-info > * {
  margin-left: 10%;
  margin-bottom: 5%;
}

.information {
  padding: 3% 3%;
  text-align: left;
}

.speciality-info {
  font-size: 14px;
  font-weight: bold;
}

.information img {
  width: 150px;
  height: auto;
}

a {
  text-decoration: none;
  color: rgba(60, 164, 189, 0.99);
}

.map {
  text-decoration: underline dotted;
  color: rgba(60, 164, 189, 0.99);
}

#map {
  height: 250px;
}

@media (max-width: 680px) {
  .inp-date {
    width: 70%;
  }

  .for-color {
    width: 75%;
  }

  .inp-color {
    margin-right: 0;
  }

  .gender {
    width: 77%;
  }
}

@media (max-width: 540px) {
  .pop-inf {
    width: calc(85%*2/3);
  }
}

@media (max-width: 500px) {
  .popup-add {
    width: calc(70%*2/3);
  }

  .pop-inf {
    width: calc(90%*2/3);
  }
}

@media (max-width: 475px) {
  .pop-inf {
    width: calc(100%*2.5/3);
  }
}

@media (max-width: 340px) {
  .pop-inf {
    width: calc(100%*2.9/3);
  }
}

@media (max-width: 320px) {
  .popup-add {
    width: calc(100%*2/3);
  }
}

@media (max-width: 295px) {
  a {
    font-size: 9px;
  }
}
